$color-red: #df7e00;
$color-yellow: #03002b;

.App {
  text-align: center;
  display: flex;
  width: 50vw;
}

.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.AppHeader {
  background-color: #282c34;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-red;
  width: 100%;
  padding: 5% 0 0 0;
}

.AppHeaderR {
  background-color: #282c34;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-yellow;
  width: 100%;
  background-image: url('../img/kartka.jpg');
  background-position: center;
  background-repeat: repeat-y;
  padding: 5% 0 0 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.AppListProd {
  border-left: 5px solid #df7e00;
  //background-color: #f1f1f1;
  padding: 10px 20px; 
  list-style-type: none;
}

.AppListProd li:hover {
 color: #fff0dd
}